<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{zona.privada.message}">Esta es una zona privada la
			web</h3>
		<p th:text="#{autenticado.message}">
			<span sec:authentication="principal.username" th:inline="text">
			</span>
		</p>
		<p th:text="#{notas.usuario.message}">Notas del usuario</p>
		<div th:replace="fragments/markList" th:fragment="tableMarks"
			id="tableMarks" />

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>